/* --------- Adjust rotation and zoom --------- */

html:has(head[data-rotatex-value="0"]) main  {
	--rotateY: -40deg;
}

html:has(head[data-rotatex-value="1"]) main {
	--rotateY: -20deg;
}

html:has(head[data-rotatex-value="2"]) main {
	--rotateY: 0deg;
}

html:has(head[data-rotatex-value="3"]) main {
	--rotateY: 20deg;
}

html:has(head[data-rotatex-value="4"]) main {
	--rotateY: 40deg;
}

html:has(head[data-translatez-value="0"]) main {
	--translateZ: 0rem;
}

html:has(head[data-translatez-value="1"]) main {
	--translateZ: 4rem;
}

html:has(head[data-translatez-value="2"]) main {
	--translateZ: 8rem;
}

html:has(head[data-translatez-value="3"]) main {
	--translateZ: 12rem;
}

html:has(head[data-translatez-value="4"]) main {
	--translateZ: 16rem;
}


/* ----------- Adjust spinning speed ---------- */

html:has(head[data-speedcontrol-value="0"]) main  {
	--loader-speed: 1.2s;
}

html:has(head[data-speedcontrol-value="1"]) main {
	--loader-speed: 1s;
}

html:has(head[data-speedcontrol-value="2"]) main {
	--loader-speed: .8s;
}

html:has(head[data-speedcontrol-value="3"]) main {
	--loader-speed: .6s;
}

html:has(head[data-speedcontrol-value="4"]) main {
	--loader-speed: .4s;
}


/* --------- Open loader door on click -------- */

.machine > section > ul:nth-of-type(4):has(> li:nth-of-type(9) input:checked)  {
	rotate: Y -90deg;
	transition: rotate .5s;
	transition-timing-function: cubic-bezier(.17,.67,.57,1.37);
}



/* ---- Stop turning anim when door is open --- */

.machine:has( > section > ul:nth-of-type(4) > li:nth-of-type(9) input:checked) > section > ul:nth-of-type(3) > li:nth-of-type(4)::before {
	animation-play-state: paused !important;
}



/* ----------- Open loader on click ----------- */

.machine > section > ul:nth-of-type(2) > li > ul:nth-of-type(1):has(> li:nth-of-type(1) input:checked)  {
	transform: translateZ(3.5cqw) translateX(-24.5cqw) translateY(-24.5cqw);
}



/* ----------- Control panel inputs ----------- */

/* input off */
.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(1):checked) > section > ul:nth-of-type(3) > li:nth-of-type(4):before {
	animation-play-state: paused;
}


/* screen input: hamster */
.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(4):checked) > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "HAMSTER";
}

/* screen input: White */
.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(1):checked) > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "";
}

/* screen input: White */
.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(2):checked) > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "White";
}

.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(2):checked) > section > ul:nth-of-type(3) > li:nth-of-type(4):before {
	filter: grayscale(1);
}

/* screen input: Color */
.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(3):checked) > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "Color";
}

.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(3):checked) > section > ul:nth-of-type(3) > li:nth-of-type(4):before {
	filter: hue-rotate(0deg);
	animation: spinHue 1s linear infinite, spin var(--loader-speed) linear infinite;
}

@keyframes spinHue {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}



/* ----- Open bottom compartment on click ----- */

.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(4):checked) > section > ul:nth-of-type(5) > li:nth-of-type(2) {
	rotate: x 90deg;
	transition: rotate .5s;
}



/* ---------------- Turbo mode ---------------- */

.machine > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:checked {
	background: var(--accent);
	filter: drop-shadow(0 0 .2rem var(--accent));
}

main:has(.machine > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:checked) {
	--loader-speed: .1s;
}

body:has(.machine > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:checked) {
/* rainbow gradient animation */
	background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: rainbow 1s ease infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.machine:has( > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:checked) > section {
	animation: shake 1s linear infinite;
}
 
@keyframes shake {
	0% { rotate:0deg; }
	10% { rotate:5deg; }
	20% { rotate:-5deg; }
	30% { rotate:5deg; }
	40% { rotate:-5deg; }
	50% { rotate:5deg; }
	60% { rotate:-5deg; }
	70% { rotate:5deg; }
	80% { rotate:-5deg; }
	90% { rotate:5deg; }
	100% { rotate:0deg; }
}