/* -------------------------------------------- */
/*                   Main body                  */
/* -------------------------------------------- */

.machine > ul:nth-of-type(1) {
	width: 50cqw;
	height: 50cqw;
	transform-style: preserve-3d;
	position: absolute;

	transform: translateZ(-25cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}


.machine > ul:nth-of-type(1) > li {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid var(--background);

	display: grid;
	place-items: center;
	font-weight: bold;
	font-size: 1.5rem;
}


/* front */
.machine > ul:nth-of-type(1) > li:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(25cqw);
	background: var(--primary);
}

/* back */
.machine > ul:nth-of-type(1) > li:nth-of-type(2) {
	transform: rotateY(180deg) translateZ(25cqw);
	background: var(--primary);
}

/* right */
.machine > ul:nth-of-type(1) > li:nth-of-type(3) {
	transform: rotateY(90deg) translateZ(25cqw);
	background: var(--primary);
}

/* left */
.machine > ul:nth-of-type(1) > li:nth-of-type(4) {
	transform: rotateY(-90deg) translateZ(25cqw);
	background: var(--primary);
}

/* top */
.machine > ul:nth-of-type(1) > li:nth-of-type(5) {
	transform: rotateX(90deg) translateZ(25cqw);
	background: var(--primary);
}

/* bottom */
.machine > ul:nth-of-type(1) > li:nth-of-type(6) {
	transform: rotateX(-90deg) translateZ(25cqw);
	background: var(--primary);
}

