/* -------------------------------------------- */
/*                  Loader door                 */
/* -------------------------------------------- */

.machine > section > ul:nth-of-type(4) {
	width: 5cqw;
	height: 10cqw;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ(-10cqw);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > section > ul:nth-of-type(4) > li {
	position: absolute;
	/* border: 2px solid red; */
	width: 100%;
	height: 100%;
	background: var(--metallic);

	transform-origin: 50% 50% 12.07cqw;
}

/* --------------- Sides outside -------------- */

.machine > section > ul:nth-of-type(4) > li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
}


/* ----------------- Top side ----------------- */


.machine > section > ul:nth-of-type(4) > li:nth-of-type(9) {
	/* display: none; */
	transform: translateY(-30%) translateX(-40%) translateZ(14.5cqw);
	width: 24.5cqw;
	height: 24.5cqw;
	background: rgba(255, 255, 255, .5);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(9) > label {
	width: 100%;
	height: 100%;
	display: block;
	background: transparent;

	background: var(--metallic-gradient);

	clip-path: polygon(
	0% 0%,
	0% 100%,
	25% 100%, 
   
	35% 85%,
	15% 64%,
	15% 33%, 
	35% 15%,
	65% 15%, 
	85% 35%, 
	85% 65%, 
	65% 85%,
	35% 85%, 
	
	25% 100%, 
	100% 100%, 
	100% 0%);


	/* clip-path: url(../images/octagon-mask.svg#cp); */
}

.machine > section > ul:nth-of-type(4) > li:nth-of-type(9) > input {
	display: none;
}


/* -------------------------------------------- */
/*                 Loader inside                */
/* -------------------------------------------- */

.machine > section > ul:nth-of-type(3){
	position: absolute;
}


/* ------------------ Outside ----------------- */

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) ul {
	width: 5cqw;
	height: 9cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(-10cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) > ul > li {
	position: absolute;
	border: 2px solid var(--metallic);
	width: 100%;
	height: 100%;
	background: var(--metallic);

	transform-origin: 50% 50% 10.864cqw;
}

/* --------------- Sides outside -------------- */

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
}

/* ----------------- Top side ----------------- */


.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) ul {
	width: 2.5cqw;
	height: 9cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(3.35cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	/* transform-origin: 50% 50%; */
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) > ul > li {
	position: absolute;
	border-left: 2.5cqw solid var(--metallic);
	border-top: .5cqw solid transparent;
	border-bottom: .5cqw solid transparent;
	height: 100%;

	transform-origin: 50% 50% 8.45cqw;
	transform: translateX(-9.65cqw);

	background: transparent !important;
}

/* --------------- Sides outside -------------- */

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(1) {
	rotate: 0deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(2) {
	rotate: 45deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(3) {
	rotate: 90deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(4) {
	rotate: 135deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(5) {
	rotate: 180deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(6) {
	rotate: 225deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(7) {
	rotate: 270deg;
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(8) {
	rotate: 315deg;
	background: var(--metallic);
}




/* ------------------ Inside ------------------ */

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) ul {
	width: 5cqw;
	height: 7cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(-7.5cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) > ul > li {
	position: absolute;
	border: 2px solid var(--metallic);
	width: 100%;
	height: 100%;

	transform-origin: 50% 50% 8.45cqw;
}

/* --------------- Sides inside --------------- */

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
	background: var(--metallic);
}



/* ----- Inside shape (inside the machine) ---- */

.machine > section > ul:nth-of-type(3) > li:nth-of-type(4) {
	width: 18cqw;
	height: 18cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(.1cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.machine > section > ul:nth-of-type(3) > li:nth-of-type(4):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
	background: url(../images/laundry.jpg) no-repeat center center;
	background-size: cover;
    animation: spin var(--loader-speed) linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
