/* -------------------------------------------- */
/*                 Control panel                */
/* -------------------------------------------- */

main > section > article > section > ul:nth-of-type(2) > li > article{
	width: 30cqw;
	height: 10cqw;
	transform-style: preserve-3d;
	position: absolute;
	background: blue;
	display: flex;
	justify-content: space-between;

	transform: translateZ(.1cqw) translateX(-5.5cqw) translateY(-24.5cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}

main > section > article > section > ul:nth-of-type(2) > li > article > label {
	position: absolute;
	background: var(--primary);
	border-bottom: .5cqw solid var(--secondary);
	border-left: .5cqw solid var(--secondary);
	width: 100%;
	height: 100%;
}

main > section > article > section > ul:nth-of-type(2) > li > article > label > input {
	display: none;
}

main > section > article > section > ul:nth-of-type(2) > li > article > section {
	width: 50%;
	padding: 1cqw;
	z-index: 10;
}

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div {
	width: 8cqw;
	height: 3cqw;
	position: relative;

	background: var(--dark);
	margin-bottom: 1cqw;

	container-type: inline-size;
}

/* screen */
main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "Text";
	word-wrap: break-word;
	font-size: 16cqw;
	left: 10cqw;
	top: 8cqw;
	position: absolute;
	color: var(--light);
	width: 100%;
	height: 100%;
}


main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1), main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(2) {
	display: flex;
	gap: 1cqw;
	transform: translateY(0.15rem);
}


/* ------------------ slider ------------------ */

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1) {
	-webkit-appearance: none;
	appearance: none;

	width: 100%; /* Full-width */
	height: 2cqw;
	background: var(--tertiary);
	/* outline: none; */
}

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1)::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 3cqw;
	height: 2cqw;
	background: var(--accent-dark);
	cursor: pointer;
}


/* --------------- Turbo button --------------- */

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(2) {
	-webkit-appearance: none;
	appearance: none;
	width: 3cqw;
	height: 2cqw;
	background: var(--accent-dark);
	border-radius: 4px;
	cursor: pointer;
}



/* ---------- Four buttons container ---------- */

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) {
	container-type: size;
	position: relative;
}

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 6cqw;
	justify-items: start;
}

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > label {
	display: flex;
	font-size: 6cqw;
	align-items: center;
	gap: 5cqw;
}

/* give the checkboxes custom styling */

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input {
	-webkit-appearance: none;
	appearance: none;
	width: 10cqw;
	height: 10cqw;
	background: var(--metallic);
	border-radius: 4px;
	cursor: pointer;
}

/* when the checkbox is checked, add a blue background */

main > section > article > section > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:checked {
	background: var(--accent);
	filter: drop-shadow(0 0 .2rem var(--accent));
}
