
:root {
	--background: hsl(0, 0%, 48%);
	--primary: hsl(283, 30%, 95%);
	--secondary: hsl(283, 30%, 90%);
	--tertiary: hsl(283, 30%, 85%);

	--side-1: rgba(250, 255, 91, 0.8);
	--side-2: rgba(94, 255, 91, 0.8);
	--side-3: rgba(91, 255, 255, 0.8);
	--side-4: rgba(255, 91, 219, 0.8);
	--side-5: rgba(53, 57, 255, 0.8);
	--side-6: rgba(255, 91, 91, 0.8);
	--side-7: rgba(159, 91, 255, 0.8);
	--side-8: rgba(255, 181, 91, 0.8);

	--rotateY: 0deg;
	--rotateX: 0deg;
	--translateZ: 9em;
}


html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
	width: 100%;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

ul {
	list-style: none;
}



/* ----------- viewport of 3d object ---------- */

.viewport {
	background: var(--background);
	width: clamp(10rem, 100%, 60rem);
	aspect-ratio: 1/1;
	position: relative;
	perspective: 600px;
	display: grid;

	overflow: hidden;
	container-type: size;
}


/* ------------ 3d object container ----------- */

.machine {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	transform-style: preserve-3d;

	transform-origin: center center 0cqw;

	/* rotate: y var(--rotateY);
	rotate: x var(--rotateX); */
	transform: translateZ(var(--translateZ)) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}

.machine ul, .machine li {
	transform-style: preserve-3d;
}


/* -------------------------------------------- */
/*                   Main body                  */
/* -------------------------------------------- */

.machine > ul:nth-of-type(1) {
	width: 50cqw;
	height: 50cqw;
	transform-style: preserve-3d;
	position: absolute;

	transform: translateZ(-25cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}


.machine > ul:nth-of-type(1) > li {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid var(--background);

	display: grid;
	place-items: center;
	font-weight: bold;
	font-size: 1.5rem;
}


/* front */
.machine > ul:nth-of-type(1) > li:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(25cqw);
	background: var(--primary);
}

/* back */
.machine > ul:nth-of-type(1) > li:nth-of-type(2) {
	transform: rotateY(180deg) translateZ(25cqw);
	background: var(--primary);
}

/* right */
.machine > ul:nth-of-type(1) > li:nth-of-type(3) {
	transform: rotateY(90deg) translateZ(25cqw);
	background: var(--primary);
}

/* left */
.machine > ul:nth-of-type(1) > li:nth-of-type(4) {
	transform: rotateY(-90deg) translateZ(25cqw);
	background: var(--primary);
}

/* top */
.machine > ul:nth-of-type(1) > li:nth-of-type(5) {
	transform: rotateX(90deg) translateZ(25cqw);
	background: var(--primary);
}

/* bottom */
.machine > ul:nth-of-type(1) > li:nth-of-type(6) {
	transform: rotateX(-90deg) translateZ(25cqw);
	background: var(--primary);
}


/* -------------------------------------------- */
/*                 Control panel                */
/* -------------------------------------------- */

.machine > ul:nth-of-type(2) > li > article{
	width: 30cqw;
	height: 10cqw;
	transform-style: preserve-3d;
	position: absolute;
	background-color: blue;
	display: flex;
	justify-content: space-between;

	transform: translateZ(-0cqw) translateX(-5.5cqw) translateY(-24.5cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}

.machine > ul:nth-of-type(2) > li > article > label {
	position: absolute;
	background-color: red;
	width: 100%;
	height: 100%;
}

.machine > ul:nth-of-type(2) > li > article > label > input {
	display: none;
}

.machine:has(> ul:nth-of-type(2) > li > article > label > input:checked) {
	background-color: red;
}

.machine > ul:nth-of-type(2) > li > article > section {
	width: 50%;
	padding: 1cqw;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div {
	width: 8cqw;
	height: 3cqw;
	position: relative;

	background-color: aqua;
	margin-bottom: 1cqw;

	container-type: inline-size;
}

/* screen */
.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "Text";
	word-wrap: break-word;
	font-size: 16cqw;
	left: 1cqw;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* screen input: hamster */
.machine:has(> ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(4):checked) > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "HAMSTER";
}

/* screen input: White */
.machine:has(> ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(1):checked) > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "";
}

/* screen input: Color */
.machine:has(> ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(2):checked) > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "White";
}

/* screen input: White */
.machine:has(> ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(3):checked) > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "Color";
}



.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) {
	display: flex;
	gap: 1cqw;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1) {
	-webkit-appearance: none;
	appearance: none;

	width: 100%; /* Full-width */
	height: 2cqw;
	background: green;
	/* outline: none; */
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1)::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 3cqw;
	height: 2cqw;
	background: #04AA6D;
	cursor: pointer;
}

/* input: hamster */
.machine:has(> ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > input:nth-of-type(4):checked) > ul:nth-of-type(5) > li:nth-of-type(2) {
	rotate: x 90deg;
	transition: rotate .5s;
}

/* four buttons container */
.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(2) {
	container-type: size;
	position: relative;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10cqw;
	justify-items: start;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(2) > form > label {
	display: flex;
	font-size: 6cqw;
	align-items: center;
	gap: 5cqw;
}



/* -------------------------------------------- */
/*                 Drawer shape                 */
/* -------------------------------------------- */


.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) {
	width: 15cqw;
	height: 10cqw;
	transform-style: preserve-3d;
	position: absolute;

	transform: translateZ(-4.5cqw) translateX(-24.5cqw) translateY(-24.5cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li {
	position: absolute;
	border: 2px solid var(--primary);
	background-color: var(--secondary);
}



/* checkbox area */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(5.1cqw);
	background: var(--primary);
	width: 100%;
	height: 100%;
	background: var(--primary);
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(1) > label {
	width: 100%;
	height: 100%;
	display: block;
	background: red;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(1) > input {
	display: none;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1):has(> li:nth-of-type(1) input:checked)  {
	transform: translateZ(3.5cqw) translateX(-24.5cqw) translateY(-24.5cqw);
}



/* front */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(2) {
	transform: rotateY(0deg) translateZ(5cqw);
	width: 100%;
	height: 100%;
}

/* back */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(3) {
	transform: rotateY(180deg) translateZ(5cqw);
	width: 100%;
	height: 100%;
}

/* right */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(4) {
	transform: rotateY(90deg) translateZ(10cqw);
	width: 10cqw;
	height: 100%;
}

/* left */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(5) {
	transform: rotateY(-90deg) translateZ(5cqw);
	width: 10cqw;
	height: 100%;
}

/* top */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(6) {
	transform: rotateX(90deg) translateZ(5cqw);
	width: 100%;
	height: 100%;
}

/* bottom */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(7) {
	transform: rotateX(-90deg) translateZ(5cqw);
	width: 100%;
	height: 100%;
}






/* -------------------------------------------- */
/*                  Loader door                 */
/* -------------------------------------------- */

.machine > ul:nth-of-type(4) {
	width: 5cqw;
	height: 10cqw;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ(-10cqw);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > ul:nth-of-type(4) > li {
	position: absolute;
	/* border: 2px solid red; */
	width: 100%;
	height: 100%;
	background: var(--tertiary);

	transform-origin: 50% 50% 12.07cqw;
}

/* --------------- Sides outside -------------- */

.machine > ul:nth-of-type(4) > li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
}


/* ----------------- Top side ----------------- */


.machine > ul:nth-of-type(4) > li:nth-of-type(9) {
	/* display: none; */
	transform: translateY(-30%) translateX(-40%) translateZ(14.5cqw);
	width: 24.5cqw;
	height: 24.5cqw;
	background: rgba(255, 255, 255, .5);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(9) > label {
	width: 100%;
	height: 100%;
	display: block;
	background: transparent;

	background-color: var(--tertiary);

	clip-path: polygon(
	0% 0%,
	0% 100%,
	25% 100%, 
   
	35% 85%,
	15% 64%,
	15% 33%, 
	35% 15%,
	65% 15%, 
	85% 35%, 
	85% 65%, 
	65% 85%,
	35% 85%, 
	
	25% 100%, 
	100% 100%, 
	100% 0%);


	/* clip-path: url(../images/octagon-mask.svg#cp); */
}

.machine > ul:nth-of-type(4) > li:nth-of-type(9) > input {
	display: none;
}

.machine > ul:nth-of-type(4):has(> li:nth-of-type(9) input:checked)  {
	rotate: Y -90deg;
	transition: rotate .5s;
	transition-timing-function: cubic-bezier(.17,.67,.57,1.37);
}

.machine:has(> ul:nth-of-type(4) > li:nth-of-type(9) input:checked) > ul:nth-of-type(3) > li:nth-of-type(4)::before {
	/* animation: spin 0s linear infinite; */
	animation-play-state: paused;
}


/* -------------------------------------------- */
/*                 Loader inside                */
/* -------------------------------------------- */

.machine > ul:nth-of-type(3){
	position: absolute;
}


/* ------------------ Outside ----------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(1) ul {
	width: 5cqw;
	height: 9cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(-10cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) > ul > li {
	position: absolute;
	border: 2px solid var(--secondary);
	width: 100%;
	height: 100%;
	background-color: var(--primary);

	transform-origin: 50% 50% 10.864cqw;
}

/* --------------- Sides outside -------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
}

/* ----------------- Top side ----------------- */


.machine > ul:nth-of-type(3) > li:nth-of-type(2) ul {
	width: 2.5cqw;
	height: 9cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(3.35cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	/* transform-origin: 50% 50%; */
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) > ul > li {
	position: absolute;
	border-left: 2.5cqw solid var(--secondary);
	border-top: .5cqw solid transparent;
	border-bottom: .5cqw solid transparent;
	height: 100%;

	transform-origin: 50% 50% 8.45cqw;
	transform: translateX(-9.65cqw);

	background-color: transparent !important;
}

/* --------------- Sides outside -------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(1) {
	rotate: 0deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(2) {
	rotate: 45deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(3) {
	rotate: 90deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(4) {
	rotate: 135deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(5) {
	rotate: 180deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(6) {
	rotate: 225deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(7) {
	rotate: 270deg;
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(8) {
	rotate: 315deg;
	background-color: var(--primary);
}




/* ------------------ Inside ------------------ */

.machine > ul:nth-of-type(3) > li:nth-of-type(3) ul {
	width: 5cqw;
	height: 7cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(-7.5cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) > ul > li {
	position: absolute;
	border: 2px solid var(--secondary);
	width: 100%;
	height: 100%;

	transform-origin: 50% 50% 8.45cqw;
}

/* --------------- Sides inside --------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
	background-color: var(--primary);
}



/* ----- Inside shape (inside the machine) ---- */

.machine > ul:nth-of-type(3) > li:nth-of-type(4) {
	width: 18cqw;
	height: 18cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(.1cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(4):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
	background: url(../images-readme/washing-machine-ref.jpg) no-repeat center center;
	background-size: cover;
    animation: spin 1s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}


/* -------------------------------------------- */
/*              Bottom compartment              */
/* -------------------------------------------- */

.machine > ul:nth-of-type(5){
	position: absolute;
	background-color: green;
	width: 10cqw;
	height: 12cqw;
	transform: translateX(19.5cqw) translateY(18.5cqw);
}

.machine > ul:nth-of-type(5) > li {
	width: 100%;
	height: 100%;
	background: var(--tertiary);
	position: absolute;
	transform-origin: top center;
}

.machine > ul:nth-of-type(5) > li:nth-of-type(2) {
	rotate: x 0deg;
	transition: rotate .5s;
}

.machine > ul:nth-of-type(5) > li:nth-of-type(1) {
	background: url(../images/hamster-wheel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}







.origin::after {
	position: absolute;
	top: 100%;
	left: 100%;
	width: .5rem;
	height: .5rem;
	content: '';
	background-color: black;
	border-radius: 50%;
	transform: translateX(725%) translateY(-410%) translateZ(0rem);
}