
:root {
	--background: hsl(0, 0%, 33%);
	--primary: hsl(0, 0%, 100%);

	--side-1: rgba(250, 255, 91, 0.8);
	--side-2: rgba(94, 255, 91, 0.8);
	--side-3: rgba(91, 255, 255, 0.8);
	--side-4: rgba(255, 91, 219, 0.8);
	--side-5: rgba(53, 57, 255, 0.8);
	--side-6: rgba(255, 91, 91, 0.8);
	--side-7: rgba(159, 91, 255, 0.8);
	--side-8: rgba(255, 181, 91, 0.8);

	--rotateY: 0deg;
	--rotateX: 0deg;
	--translateZ: 0em;
}


html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
	width: 100%;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

ul {
	list-style: none;
}



/* ----------- viewport of 3d object ---------- */

.viewport {
	background: lightgray;
	width: clamp(10rem, 100%, 40rem);
	aspect-ratio: 1/1;
	position: relative;
	perspective: 600px;
	display: grid;

	overflow: hidden;
	container-type: size;
}


/* ------------ 3d object container ----------- */

.machine {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	transform-style: preserve-3d;

	transform-origin: center center 0cqw;

	/* rotate: y var(--rotateY);
	rotate: x var(--rotateX); */
	transform: translateZ(var(--translateZ)) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}

.machine ul, .machine li {
	transform-style: preserve-3d;
}


/* -------------------------------------------- */
/*                   Main body                  */
/* -------------------------------------------- */

.machine > ul:nth-of-type(1) {
	width: 50cqw;
	height: 50cqw;
	transform-style: preserve-3d;
	position: absolute;

	transform: translateZ(-25cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}


.machine > ul:nth-of-type(1) > li {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid var(--background);

	display: grid;
	place-items: center;
	font-weight: bold;
	font-size: 1.5rem;
}


/* front */
.machine > ul:nth-of-type(1) > li:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(25cqw);
	background: var(--side-1);
}

/* back */
.machine > ul:nth-of-type(1) > li:nth-of-type(2) {
	transform: rotateY(180deg) translateZ(25cqw);
	background: var(--side-2);
}

/* right */
.machine > ul:nth-of-type(1) > li:nth-of-type(3) {
	transform: rotateY(90deg) translateZ(25cqw);
	background: var(--side-3);
}

/* left */
.machine > ul:nth-of-type(1) > li:nth-of-type(4) {
	transform: rotateY(-90deg) translateZ(25cqw);
	background: var(--side-4);
}

/* top */
.machine > ul:nth-of-type(1) > li:nth-of-type(5) {
	transform: rotateX(90deg) translateZ(25cqw);
	background: var(--side-5);
}

/* bottom */
.machine > ul:nth-of-type(1) > li:nth-of-type(6) {
	transform: rotateX(-90deg) translateZ(25cqw);
	background: var(--side-6);
}


/* -------------------------------------------- */
/*                 Control panel                */
/* -------------------------------------------- */

.machine > ul:nth-of-type(2) > li > article{
	width: 30cqw;
	height: 10cqw;
	transform-style: preserve-3d;
	position: absolute;
	background-color: blue;
	display: flex;
	justify-content: space-between;

	transform: translateZ(-0cqw) translateX(-5.5cqw) translateY(-24.5cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}

.machine > ul:nth-of-type(2) > li > article > section {
	background-color: orange;
	width: 50%;
	padding: 1cqw;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div {
	width: 8cqw;
	height: 3cqw;
	position: relative;

	background-color: aqua;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > div::after {
	content: "Text";
	font-size: 2cqw;
	left: 1cqw;
	position: absolute;
	width: 100%;
	height: 100%;
}

.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1) {
	-webkit-appearance: none;
	appearance: none;

	width: 100%; /* Full-width */
	height: 2cqw;
	background: green;
	/* outline: none; */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.machine > ul:nth-of-type(2) > li > article > section:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1)::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 3cqw; /* Set a specific slider handle width */
	height: 2cqw;
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}


/* -------------------------------------------- */
/*                 Drawer shape                 */
/* -------------------------------------------- */


.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) {
	width: 15cqw;
	height: 10cqw;
	transform-style: preserve-3d;
	position: absolute;

	transform: translateZ(-4.5cqw) translateX(-24.5cqw) translateY(-24.5cqw);
	transition: transform 1s, rotate 1s;
	transform-origin: center center 25cqw;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li {
	position: absolute;
	border: 2px solid red;
}



/* checkbox area */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(5.1cqw);
	background: var(--side-1);
	width: 100%;
	height: 100%;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(1) > label {
	width: 100%;
	height: 100%;
	display: block;
	background: red;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(1) > input {
	display: none;
}

.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1):has(> li:nth-of-type(1) input:checked)  {
	transform: translateZ(3.5cqw) translateX(-24.5cqw) translateY(-24.5cqw);
}



/* front */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(2) {
	transform: rotateY(0deg) translateZ(5cqw);
	background: var(--side-1);
	width: 100%;
	height: 100%;
}

/* back */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(3) {
	transform: rotateY(180deg) translateZ(5cqw);
	background: var(--side-2);
	width: 100%;
	height: 100%;
}

/* right */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(4) {
	transform: rotateY(90deg) translateZ(10cqw);
	background: var(--side-3);
	width: 10cqw;
	height: 100%;
}

/* left */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(5) {
	transform: rotateY(-90deg) translateZ(5cqw);
	background: var(--side-4);
	width: 10cqw;
	height: 100%;
}

/* top */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(6) {
	transform: rotateX(90deg) translateZ(5cqw);
	background: var(--side-5);
	width: 100%;
	height: 100%;
}

/* bottom */
.machine > ul:nth-of-type(2) > li > ul:nth-of-type(1) > li:nth-of-type(7) {
	transform: rotateX(-90deg) translateZ(5cqw);
	background: var(--side-6);
	width: 100%;
	height: 100%;
}




/* -------------------------------------------- */
/*                  Loader door                 */
/* -------------------------------------------- */

.machine > ul:nth-of-type(4) {
	width: 5cqw;
	height: 10cqw;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ(-10cqw);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > ul:nth-of-type(4) > li {
	position: absolute;
	border: 2px solid red;
	width: 100%;
	height: 100%;

	transform-origin: 50% 50% 12.07cqw;
}

/* --------------- Sides outside -------------- */

.machine > ul:nth-of-type(4) > li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
	background-color: var(--side-1);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
	background-color: var(--side-2);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
	background-color: var(--side-3);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
	background-color: var(--side-4);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
	background-color: var(--side-5);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
	background-color: var(--side-6);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
	background-color: var(--side-7);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
	background-color: var(--side-8);
}


/* ----------------- Top side ----------------- */


.machine > ul:nth-of-type(4) > li:nth-of-type(9) {
	/* display: none; */
	transform: translateY(-30%) translateX(-40%) translateZ(14.5cqw);
	background: var(--side-6);
	width: 24.5cqw;
	height: 24.5cqw;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.machine > ul:nth-of-type(4) > li:nth-of-type(9) > label {
	width: 100%;
	height: 100%;
	display: block;
	background: red;
}

.machine > ul:nth-of-type(4) > li:nth-of-type(9) > input {
	display: none;
}

.machine > ul:nth-of-type(4):has(> li:nth-of-type(9) input:checked)  {
	rotate: Y -90deg;
}


/* -------------------------------------------- */
/*                 Loader inside                */
/* -------------------------------------------- */

.machine > ul:nth-of-type(3){
	position: absolute;
}


/* ------------------ Outside ----------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(1) ul {
	width: 5cqw;
	height: 9cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(-10cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) > ul > li {
	position: absolute;
	border: 2px solid red;
	width: 100%;
	height: 100%;

	transform-origin: 50% 50% 10.864cqw;
}

/* --------------- Sides outside -------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
	background-color: var(--side-1);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
	background-color: var(--side-2);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
	background-color: var(--side-3);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
	background-color: var(--side-4);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
	background-color: var(--side-5);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
	background-color: var(--side-6);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
	background-color: var(--side-7);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(1) li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
	background-color: var(--side-8);
}

/* ----------------- Top side ----------------- */


.machine > ul:nth-of-type(3) > li:nth-of-type(2) ul {
	width: 2.5cqw;
	height: 9cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(3.35cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	/* transform-origin: 50% 50%; */
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) > ul > li {
	position: absolute;
	border-left: 2.5cqw solid #555;
	border-top: .5cqw solid transparent;
	border-bottom: .5cqw solid transparent;
	height: 100%;

	transform-origin: 50% 50% 8.45cqw;
	transform: translateX(-9.65cqw);

	background-color: transparent !important;
}

/* --------------- Sides outside -------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(1) {
	rotate: 0deg;
	background-color: var(--side-1);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(2) {
	rotate: 45deg;
	background-color: var(--side-2);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(3) {
	rotate: 90deg;
	background-color: var(--side-3);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(4) {
	rotate: 135deg;
	background-color: var(--side-4);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(5) {
	rotate: 180deg;
	background-color: var(--side-5);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(6) {
	rotate: 225deg;
	background-color: var(--side-6);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(7) {
	rotate: 270deg;
	background-color: var(--side-7);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(2) li:nth-of-type(8) {
	rotate: 315deg;
	background-color: var(--side-8);
}




/* ------------------ Inside ------------------ */

.machine > ul:nth-of-type(3) > li:nth-of-type(3) ul {
	width: 5cqw;
	height: 7cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(-7.5cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	transform-origin: -190% 50%;
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) > ul > li {
	position: absolute;
	border: 2px solid red;
	width: 100%;
	height: 100%;

	transform-origin: 50% 50% 8.45cqw;
}

/* --------------- Sides inside --------------- */

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(1) {
	rotate: 0deg;
	transform: rotateY(90deg);
	background-color: var(--side-1);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(2) {
	rotate: 45deg;
	transform: rotateY(90deg);
	background-color: var(--side-2);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(3) {
	rotate: 90deg;
	transform: rotateY(90deg);
	background-color: var(--side-3);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(4) {
	rotate: 135deg;
	transform: rotateY(90deg);
	background-color: var(--side-4);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(5) {
	rotate: 180deg;
	transform: rotateY(90deg);
	background-color: var(--side-5);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(6) {
	rotate: 225deg;
	transform: rotateY(90deg);
	background-color: var(--side-6);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(7) {
	rotate: 270deg;
	transform: rotateY(90deg);
	background-color: var(--side-7);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(3) li:nth-of-type(8) {
	rotate: 315deg;
	transform: rotateY(90deg);
	background-color: var(--side-8);
}



/* ----- Inside shape (inside the machine) ---- */

.machine > ul:nth-of-type(3) > li:nth-of-type(4) {
	width: 18cqw;
	height: 18cqw;
	position: absolute;
	transform-style: preserve-3d;
    transform: translateZ(.1cqw) translateX(-50%) translateY(-50%);
	transition: 1s rotate;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.machine > ul:nth-of-type(3) > li:nth-of-type(4):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
	background: url(../images-readme/washing-machine-ref.jpg) no-repeat center center;
	background-size: cover;
    animation: spin 1s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}






.origin::after {
	position: absolute;
	top: 100%;
	left: 100%;
	width: .5rem;
	height: .5rem;
	content: '';
	background-color: black;
	border-radius: 50%;
	transform: translateX(725%) translateY(-410%) translateZ(0rem);
}