
:root {
	--background: hsl(0, 0%, 48%);
	--primary: hsl(283, 30%, 95%);
	--secondary: hsl(283, 30%, 90%);
	--tertiary: hsl(283, 30%, 85%);

	--side-1: rgba(250, 255, 91, 0.8);
	--side-2: rgba(94, 255, 91, 0.8);
	--side-3: rgba(91, 255, 255, 0.8);
	--side-4: rgba(255, 91, 219, 0.8);
	--side-5: rgba(53, 57, 255, 0.8);
	--side-6: rgba(255, 91, 91, 0.8);
	--side-7: rgba(159, 91, 255, 0.8);
	--side-8: rgba(255, 181, 91, 0.8);

	--rotateY: 0deg;
	--rotateX: 0deg;
	--translateZ: 0em;
	--translateY: 0em;
}


html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
	width: 100%;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

ul {
	list-style: none;
}



/* ----------- viewport of 3d object ---------- */

.viewport {
	background: var(--background);
	width: clamp(10rem, 100%, 60rem);
	aspect-ratio: 1/1;
	position: relative;
	perspective: 600px;
	display: grid;

	overflow: hidden;
	container-type: size;
}


/* -------------------------------------------- */
/*              3d object container             */
/* -------------------------------------------- */

.machine {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	transform-style: preserve-3d;

	transform-origin: center center 0cqw;

	/* rotate: y var(--rotateY);
	rotate: x var(--rotateX); */
	transform: translateZ(var(--translateZ)) translateY(var(--translateY)) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}

.machine ul, .machine li {
	transform-style: preserve-3d;
}



/* -------------------------------------------- */
/*                   Utilities                  */
/* -------------------------------------------- */

.origin::after {
	position: absolute;
	top: 100%;
	left: 100%;
	width: .5rem;
	height: .5rem;
	content: '';
	background-color: black;
	border-radius: 50%;
	transform: translateX(725%) translateY(-410%) translateZ(0rem);
}



/* ------------------ inputs ------------------ */

main { 
	display: flex;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}